* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    margin-bottom: 20px;
}


li, span {
    list-style-type: none;
    margin-bottom: 5px;
}


.container {
    width: 900px;
    margin: 50px auto 0 auto;
}

.containerElement {
    display: flex;
}

.checkInput {
    margin-left: 10px;
}

.lineText {
    text-decoration: line-through;
}

.x {
    color: red;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.lineX {
    text-decoration: none;
}

.newTextInput {
    margin-top: 50px;
}

.addBtn {
    padding: 5px;
    margin-right: 4px;
}

.btnStyle {
    border-radius: 5px;
    background-color: #222;
    color: white;
    cursor: pointer;
}